.banner-section {
    background: url(".././images/updated_bg.png") no-repeat center top;
    background-size: cover;
    height: 370px !important;
}
.banner-content h1 {
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2;
}
p.inner-para {
    text-align: center;
    color: #fff;
    
}
span.get-demo {
    color: #fff;
}
.row.d-flex.align-items-center {
    margin-bottom: 65px;
}
h1.section-title span {
    font-weight: 400 !important;
    color: #fcbf38;
}
.customBtns {
    
    font-size: 1.125rem;
    padding: 0.938rem 1rem;
    background-color: #FCBF38;
    border-radius: 4px;
    color: #000 !important;
    position: relative;
    display: inline-block;
}
h1.section-title {
    color: #22252b;
    margin-bottom: 3rem !important;
    font-size: 30px;
    font-weight: 400 !important;
}
section#intro-section {
    margin-top: 100px;
}
.dotted-grid {
    position: absolute;
    top: 4rem !important;
    left: -1rem;
}
h4.supporting_title {
    position: initial !important;
    width: fit-content;
    color: #40495d;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.25rem;
    margin-bottom: 5.5rem !important;
    margin-top: -90px;
}
.banner-content h1 span {
    font-weight: 700 !important;
    color: #D81212;
}

.banner-content p.text-large {
    font-weight: 300 !important;
}

.banner-btn {
    margin-top: 2.188rem;
}

.banner-btn a.customBtn {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#intro-section {
    position: relative;
    margin-top: -2.5rem;
}


/* Core Valurs Section CSS */

#core-features {
    margin-top: 15rem
}

.core-value-block {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 3px 40px rgba(98, 127, 214, 0.16);
    overflow: hidden;
    width: 48%;
    margin-bottom: 4%;
    position: relative;
    z-index: 2;
}

.core-value-header {
    height: 5rem;
    background-color: #F9FAFF;
}

.core-value-body {
    padding: 0px 2rem 2rem;
}

.core-value-icon {
    width: 6.25rem;
    height: 6.25rem;
    margin: 0px auto 1rem auto;
    border: 4px solid #F9FAFF;
    border-radius: 50%;
    background-color: #fff;
    padding: 1.125rem 0rem;
}

.core-value-icon img {
    max-width: 4rem;
    display: block;
    margin: auto;
}

.value-content h4 {
    font-size: 1.25rem;
    color: #22252B;
    margin-bottom: 5px;
}

.value-content p {
    line-height: 1.4;
}

.value-content {
    margin-top: -2.5rem;
}

.core-values .core-value-block:nth-child(2),
.core-values .core-value-block:nth-child(4) {
    position: relative;
    top: 2.5rem;
}

.core-values .dotted-grid {
    left: unset;
    right: -3.2rem;
    z-index: 0;
    top: 0;
}


/* Teams Section CSS Starts */

#team {
    margin-bottom: 5rem;
}

.team-member {
    width: 23%;
    
    overflow: hidden;
}

.team-member img {
    width: 95%;
}

.member-info {
    padding: 1rem;
    position: relative;
    border: 1px solid #eab538;
    margin-top: -67px !important;
    width: 74%;
    left: 10%;
   
    box-shadow: 0px 3px 40px rgba(98, 127, 214, 0.16);
    margin-top: -3rem;
    background-color: #fff;
    margin-bottom: 2.2rem;
}

.member-info h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #22252B;
}

.member-info p {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 0.875rem;
    color: #9196A0;
}

.linkedin {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 4px;
    background-color: #0077B5;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.linkedin i {
    font-size: 1.25rem;
    color: #fff;
}


/* Partners Section CSS starts */

#partners::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #FAFAFF;
    z-index: 0;
}


/* Join Us Section CSS starts */

.join-us-block {
    padding: 5rem;
    background: url(../https://gyde-web-cdn.s3.us-east-2.amazonaws.com/new-website/about-us/join-us-bg.png) no-repeat center center;
    background-size: cover;
}

.join-us-content {
    padding: 3rem;
    background: #fff;
    max-width: 450px;
    position: relative;
    margin: 0px 0px 0px auto;
}


/* Media Queries */

@media screen and (max-width: 1200px) {
    #intro-section {
        position: relative;
        margin-top: 0px;
    }
    .core-value-body {
        padding: 0px 1rem 1rem;
    }
}

@media screen and (max-width:992px) {
    .banner-content h1 {
        font-size: 2.8rem;
    }
    .banner-section {
        min-height: 60vh
    }
    .prebuilt-gydes-block {
        width: 48%;
    }
}

@media screen and (max-width:768px) {
    .section-image {
        margin-bottom: 2rem;
    }
    .core-values {
        margin-top: 2rem;
    }
    .team-member {
        width: 48%;
    }
}

@media screen and (max-width:680px) {
    .banner-section {
        min-height: 100vh
    }
    #intro-section {
        text-align: center;
    }
    #core-features {
        border-top: 1px solid #eee;
        margin-top: 2rem;
        padding-top: 2rem;
    }
    .core-values {
        display: block !important;
    }
    .core-value-block {
        width: 100%;
        margin-bottom: 1rem;
    }
    .core-values .core-value-block:nth-child(2),
    .core-values .core-value-block:nth-child(4) {
        top: 0px;
    }
    .value-content h4 span.d-block {
        display: inline-block;
    }
    .team-member {
        width: 100%;
    }
    #team {
        margin-bottom: 2rem;
    }
    .join-us-block {
        padding: 1rem;
    }
    .join-us-content {
        text-align: center;
    }
}