#hero {
    position: relative;
}

.banner-section {
    background: url(".././images/updated_bg.png") no-repeat center top;
    background-size: cover;
    min-height: 120vh;
    /*clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);*/
    /*background-attachment: fixed;*/
    padding-top: 9.5rem;
}

.gyde-analytics-holder {
    min-height: calc(100vh - 89px);
}

.row.d-flex.align-items-center {
    padding-top: 20px;
}

.banner-content h1 {
    font-size: 3.75rem;
    font-size: 38px;
    margin-bottom: 3rem;
    line-height: 1.1;
}
.col-md-9.para-gapgh {
    width: 82% !important;
    margin-left: 10px;
}
h3.inverse-heading {
    text-align: left !important;
    color: #fff;
    margin-bottom: 15px;
    padding-top: 20px;
}

.leftBottom-circle {
    left: 74rem !important;
    bottom: -5rem;
    max-width: 10rem;
}

.customBtnInv:hover {
    color: #000 !important;
    background-color: #ffffff !important;
}

.col-md-5.col-6.mt-md-0.start-button {
    margin-left: -90px;
}

.inverse1 {
    color: #fff !important;
    margin-top: 50px;
}

.customBtnInv {
    /* height: 56px; */
    font-size: 1.125rem;
    padding: 0.938rem 1rem;
    background-color: #fff;
    border-radius: 4px;
    color: #000000 !important;
    position: relative;
    /* margin-right: 42px; */
    display: inline-block;
    border: 1px solid #fff !important;
}

.testimoni-info::before {
    content: "";
    width: 5rem;
    height: 3px;
    position: absolute;
    top: -0.5rem;
    left: 0;
    background-color: #01bd7f !important;
}

.page-section.virtual-room {
    margin-bottom: 100px;
}

.testimonials {
    padding: 5rem 4rem 4rem;
    background-image: linear-gradient(to right, #00BC7E, #00BC7E) !important;
    border-radius: 1rem;
    margin-top: -3rem;
    position: relative;
    z-index: 1;
}

h1.inverse1 {
    font-size: 34px;
    font-weight: 500;
    color: #fff !important;
}

.customBtn1 {
    /* height: 56px; */
    font-size: 1.125rem;
    padding: 0.938rem 1rem;
    border-radius: 4px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.request-demo-block {
    background-color: #fcbf38;
    border-radius: 1rem;
    box-shadow: 0px 3px 60px rgb(98 127 214 / 16%);
    position: initial !important;
    z-index: 1;
    padding: 6rem 5rem;
    min-height: 35rem;
}

ul.list-feature {
    padding-left: 15px;
    padding-bottom: 20px;
    color: #fff;
    margin-top: 15px;
}

section#blogs {
    margin-bottom: 30px;
}

.col-md-4.img-feautre {
    margin-left: 100px;
}

img.screen-img {
    width: 130%;
    margin-left: 85px;
}
h3.inverse-heading1 {
    color: #fff;
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: 45px;
}
span.free-trial {
    border: 1px solid #fff;
    padding: 16px 10px 14px 10px;
    margin-left: 15px;
    background: #fff;
    color: #000;
    border-radius: 4px;
}

/*.page-section {
    padding: 0rem 0px !important;
}
*/
section#features {
    padding: 0rem 0px !important;
}
h1.section-title.split-heading span {
    display: initial !important;
}

.feature-details {
    padding: 3rem;
    height: 50vh;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #053036, #6F4C00) !important;
    width: 100%;
    position: relative;
    left: 0%;
    z-index: 0;
}

img.img-fluid.img-center.rellax {
    /*margin-top: -240px;*/
    padding-left: 66px;
}

.banner-content-holder h1 span {
    color: #fcbf38;
    /*font-weight: 300 !important;
            font-size: 40px;*/
}

.banner-content p.text-large {
    font-weight: 300 !important;
}

.banner-btn {
    margin-top: 2.188rem;
}

.banner-girl {
    position: relative;
    max-width: 40rem;
    right: 0rem;
    bottom: -6rem;
    width: 100%;
}

.girl-overlap {
    position: absolute;
    top: 5.625rem;
    right: 0;
    width: 100%;
}

.banner-content .col-md-7 {
    position: relative;
    z-index: 999;
}

.banner-content-holder {
    margin-top: -6rem;
}


/* About Gyde Section starts */


/* Use cases section starts */

#usecases>li>button.nav-link {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    color: #22252B;
    font-weight: 500;
    background-color: #fff;
}

#usecases>li>button.nav-link:hover {
    border-bottom: 3px solid #FCBF38;
}

#usecases>li {
    width: 19%;
}

#usecases>li>button.nav-link {
    box-shadow: 0px 3px 6px rgba(98, 127, 214, 0.1);
}

#usecases>li>button.nav-link span {
    display: block;
}

#usecases>li>.nav-link.active {
    background-color: #fff;
    color: #FCBF38;
    border-bottom: 3px solid #FCBF38;
}

.usecase-icon {
    display: inline-block;
    width: 4.125rem;
    height: 4.125rem;
    border-radius: 50%;
    margin: 0px auto 1rem;
    background-color: #FAFAFF;
}

.usecase-icon i {
    font-size: 2rem;
    background: -webkit-linear-gradient(#fcbf38, #fcbf38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3;
}

#usecases>li>.nav-link.active .usecase-icon {
    background-color: #FCBF38;
}

#usecases>li>.nav-link.active .usecase-icon i {
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    color: #fff;
}

.values-container {
    padding: 2.25rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 60px rgb(98 127 214 / 10%);
    margin-top: 2rem;
    width: 100%;
    height: 460px;
    background-color: #fff;
}

.hashtag {
    padding: 1rem;
    background-color: #F6F8FF;
    color: #FCBF38;
    font-weight: 500;
    font-size: 1rem;
    width: fit-content;
    margin-bottom: 1rem;
}

h2.value-title {
    font-size: 2.375rem;
    color: #22252B;
    margin-bottom: 35px;
    margin-top: 20px;
}

button.according-para {
    padding: 5px 20px 5px 20px;
    border: 1px solid #F6F8FF;
    background: #F6F8FF;
    border-radius: 0px 10px 0px 10px;
}

.value-title span {
    display: block;
    color: #40495D;
    font-weight: 400;
}

.value-img {
    max-width: 100%;
    border-radius: 16px;
}

.tab-pane .custom-accordion-header {
    display: none;
}

.custom-accordion-body {
    padding: 0px;
}


/* Pre Built Gydes Section CSS */

#preBuilt-gydes {
    /*margin-top: -22rem;*/
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.preBuilt-gydes {
    flex-wrap: wrap;
    /* background: url(".././images/dotted-grid.png") no-repeat 51% 48%;*/
    background-size: 50%;
}

.prebuilt-gydes-block {
    width: 48%;
    padding: 1.875rem;
    border-radius: 8px;
    box-shadow: 0px 3px 40px rgba(98, 127, 214, 0.16);
    margin-bottom: 1.6rem;
    background-color: #fff;
}

.prebuilt-gydes-block img {
    display: block;
    margin: 0px auto 1rem auto;
    max-width: 100%;
}

.prebuilt-gydes-block h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: #22252B;
}

.prebuilt-gydes-block p {
    line-height: 1.4;
}

.prebuilt-gydes-holder {
    width: 48%;
}

.request-demo-section {
    width: 48%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 3px 40px rgba(98, 127, 214, 0.16);
    margin-bottom: 1.6rem;
    padding: 1rem;
}

.request-demo-content {
    max-width: 350px;
}

.request-demo-content img {
    max-width: 5rem;
    margin-bottom: 1rem;
}

.request-demo-content h3 {
    font-size: 2.25rem;
    font-weight: 600;
    color: #1C2E7C;
    margin-bottom: 0.5rem;
}


/* Blogs Section CSS */

.blogs-header {
    margin-bottom: 2rem;
}

.blogs-header h1.section-title {
    margin-bottom: 0px;
}

.line-divider {
    width: 20%;
    height: 1px;
    border-top: 1px solid #DFE1EB;
    position: absolute;
    top: 50%;
}

.rightPositioned {
    right: 0;
}

.leftPositioned {
    left: 0;
}

.blog-block {
    width: 32%;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 2rem;
}

.blog-block img {
    width: 100%;
    transition: all 0.3s ease-in;
}

.blog-info-overlay {
    position: absolute;
    bottom: -4rem;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

.blog-info {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    width: 80%;
}

.blog-info h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-info p {
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-block:hover .blog-info-overlay {
    bottom: 0;
}

.blog-block:hover img {
    transform: scale(1.2);
}


/* Media Query */

@media screen and (max-width:1200px) {
    .rightTop-circle {
        right: -2rem;
    }
    .banner-section {
        min-height: 100vh;
    }
    .banner-girl {
        max-width: 35rem;
    }
}

@media screen and (max-width:1024px) {
    .rightTop-circle {
        right: -1rem;
    }
}

@media screen and (max-width:992px) {
    /* .banner-content .d-flex {
                display: block !important;
            } */
    .banner-content h1 {
        font-size: 3rem;
    }
    .text-large {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:768px) {
    .banner-section {
        min-height: 65vh;
    }
    .gyde-analytics-holder {
        min-height: calc(65vh - 89px);
    }
    .girl-overlap {
        top: 50%;
        text-align: center;
        transform: translate(0px, -50%);
    }
    .value-img {
        width: 100%;
    }
    .values-container {
        width: 100%;
    }
    .leftBottom-circle {
        left: -1.5rem;
    }
    #sideStretch-section {
        display: block !important;
    }
    .prebuilt-gydes-holder,
    .section-image {
        width: 100%;
    }
    .company-logo {
        left: 0;
        border-radius: 0px 8px 8px 0px;
    }
    .section-image {
        margin-bottom: 2rem;
    }
    .banner-content-holder {
        margin-top: 0px;
    }
    #pageBody {
        padding: 0px;
    }
    #usecases>li>button.nav-link {
        padding: 0.5rem;
    }
    .blog-info {
        width: 100%;
        left: 0;
        padding: 0px 1rem;
    }
    #usecases {
        display: none !important;
    }
    .tab-content>.tab-pane {
        display: block;
        opacity: 1;
    }
    .values-container {
        border-radius: unset;
        box-shadow: unset;
        margin-top: unset;
        background-color: unset;
    }
    .custom-accordion {
        border-radius: 1rem;
        box-shadow: 0px 3px 60px rgb(98 127 214 / 10%);
        margin-top: 1rem;
        background-color: #fff;
    }
    .custom-accordion.active .custom-accordion-body {
        display: block;
    }
    .tab-pane .custom-accordion-header {
        display: block;
        padding: 1.5rem;
        font-size: 1.25rem;
        color: #22252B;
        font-weight: 500;
        position: relative;
    }
    .custom-accordion-header::after {
        content: "\eb21";
        font-family: 'boxicons'!important;
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translate(0%, -50%);
    }
    .custom-accordion-body {
        padding: 1.5rem;
        border-top: 1px solid #eee;
        display: none;
    }
    .value-title span {
        display: inline-block;
    }
    .values-container {
        padding: 0;
    }
    h2.value-title {
        font-size: 2rem;
    }
}

@media screen and (max-width:767px) {
    .banner-section {
        min-height: 100vh;
        background-size: auto;
    }
    .gyde-analytics-holder {
        min-height: calc(100vh - 89px);
    }
    .banner-girl,
    .gyde-analytics-holder {
        display: none !important;
    }
}

@media screen and (max-width:680px) {
    .page-section .customBtn {
        display: block;
        width: fit-content;
        margin: auto;
        font-size: 1.25rem;
    }
    .custom-accordion-body p {
        text-align: left;
    }
    #about-gyde {
        margin-bottom: 3rem;
    }
    #about-gyde .page-section:first-child {
        border-bottom: 1px solid #eee;
        margin-bottom: 2rem;
    }
    .prebuilt-gydes-block,
    .request-demo-section {
        width: 100%;
    }
    #preBuilt-gydes .section-header {
        text-align: center;
    }
    #preBuilt-gydes .section-header a {
        margin-bottom: 1.25rem;
    }
    #preBuilt-gydes .section-header .d-flex {
        display: block !important;
    }
    #preBuilt-gydes .section-header h1.section-title {
        width: 100%;
    }
    .request-demo-section {
        padding: 1.875rem;
    }
    .line-divider {
        display: none;
    }
    .blog-block {
        width: 100%;
        margin-bottom: 2rem;
        display: block;
    }
    .blogs-holder {
        display: block !important;
    }
    .blog-info-overlay {
        bottom: 0;
    }
}