    footer {
    background-image: linear-gradient(to bottom, #053036, #053036);
    /*clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);*/
    padding: 6rem 0rem 2rem;
}

p.footer-para {
    color: #fff;
}

p.footer-icon.margin-top-twenty {
    margin-top: 15px;
}

.footer-links-block h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h4.inverse {
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-links li a {
    font-size: 0.938rem;
    color: inherit;
    padding: 0.25rem 0px;
    font-weight: 400;
    letter-spacing: 0.3px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in;
}
.col-md-2.col-sm-4.feature-footer {
    margin-left: -60px;
}
p.button-submit {
    float: right;
    margin-top: -41px;
    margin-right: 70px;
}

input#fname {
    padding: 5px 15px 5px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}

button.button-subcribe {
    padding: 5px 15px 5px 15px;
    border: 1px solid #fcbf38;
    border-radius: 5px;
    color: #000;
    background: #fcbf38;
}
    /* Media Query */
    @media screen and (max-width: 768px) {
        .footer-links-block {
            margin-top: 2rem;
        }
        .footer-bottom {
            text-align: center;
        }
        .footer-bottom .col-md-6.text-end {
            text-align: center !important;
        }
        .logos-section {
            flex-wrap: wrap;
        }
        img.footer_logo {
            max-width: 10rem;
        }
    }
    @media screen and (max-width:680px) {
        .footer-logo {
            display: block;
            margin: auto;
        }
        footer {
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
        }
    }
    @media screen and (max-width:575px) {
        .footer-links {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap
        }
        .footer-links li {
            width: 50%;
            position: relative
        }
        .footer-links li::before {
            content: "";
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
            background-color: #fff;
            margin-right: 3px;
            position: relative;
            top: -1px;
        }
    }