#logo{
    max-width: 200px;
}

.add_margin-top{
    margin-top: -30px;
}

.entity-val{
    font-weight: bold;
    margin-left: 2px;
}

.accordion{
    width: 100%;
}
.accordion-header{
    padding: 15px;
}

.accordion-body{
    padding: 10px 30px;
}

.faq-accordion{
    width: 100%;
}
.faq-accordion-header{
    padding: 15px;
}

.faq-accordion-body{
    padding: 10px 30px;
}

.accordion-body-mob{
    padding: 0 10px;
    text-align: center;
}

.value-img{
    width: 60%;
}

.accordion-button:not(.collapsed) {
    color: #07263a;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.row.d-flex.align-items-center {
    padding-top: 0;
}

.smap-ul{
    list-style: none;
}

.smap-ul li{
    margin: 10px 0;
    font-size: 18px;
}

.smap-ul li a{
    text-decoration: none;
}

.nested > .child-route{
    margin-left: 20px;
}
